/*
=============== 
Variables
===============
*/

:root {
  --background: #282a36;
  --background02: #44475a;
  --foreground: #f8f8f2;
  --background03: #6272a4;
  --Cyan: #8be9fd;
  --Green: #50fa7b;
  --Orange: #ffb86c;
  --Pink: #ff79c6;
  --Purple: #bd93f9;
  --Red: #ff5555;
  --Yellow: #f1fa8c;

  --maxlenght: 16;
  --wordCount: 6;
  --fontSize: 60px;
  --boxSize: 90px;
  --fontWeight: 400;
  --spacing: 0.07rem;
  --radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 450px;

  --clr-orange-1: hsl(12, 83%, 98%);
  --clr-orange-2: hsl(14, 91%, 95%);
  --clr-orange-3: hsl(12, 89%, 89%);
  --clr-orange-4: hsl(13, 87%, 82%);
  --clr-orange-5: hsl(13, 88%, 68%);
  --clr-orange-6: hsl(13, 88%, 55%);
  --clr-orange-7: hsl(13, 74%, 49%);
  --clr-orange-8: hsl(13, 74%, 33%);
  --clr-orange-9: hsl(13, 73%, 25%);
  --clr-orange-10: hsl(13, 73%, 16%);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--background);
  text-transform: capitalize;
  /* background: transparent; */
}
.typing {
  display: inline-flex;
}

.typing .static-text {
  font-size: var(--fontSize);
  color: var(--foreground);
  font-weight: var(--fontWeight);
}

.typing .dynamic-text {
  margin-left: 15px;
  height: var(--boxSize);
  line-height: var(--boxSize);
  /* background: red; */
  overflow: hidden;
}

.dynamic-text li {
  list-style: none;
  margin-top: 30px;
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  color: var(--Green);
  position: relative;
  top: -40px;
  overflow: hidden;
  /* stops screen from moving */
  animation: slide 12s steps(var(--wordCount)) infinite;
}
@keyframes slide {
  100% {
    top: -760px;
  }
}

.dynamic-text li span {
  position: relative;
  /* fix border size */
}
.dynamic-text li span::after {
  content: "";
  position: absolute;
  padding: 50px 0;
  left: 0;
  /* border starts at left */
  height: 100%;
  width: 100%;
  border-left: 2px solid var(--Green);
  /* steps largest word lenght */
  background: var(--background);
  animation: typing 2s steps(var(--maxlenght)) infinite;
  /* mandar a border left parar quando chegar na border right 
  algo com fit content*/
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
