/*
=============== 
Variables
===============
*/

:root {
  --background: #282a36;
  --background02: #44475a;
  --foreground: #f8f8f2;
  --background03: #6272a4;
  --Cyan: #8be9fd;
  --Green: #50fa7b;
  --Orange: #ffb86c;
  --Pink: #ff79c6;
  --Purple: #bd93f9;
  --Red: #ff5555;
  --Yellow: #f1fa8c;

  /* dont change */
  --boxMarginTop: 30px;

  /* change when changing the words */
  --maxlenght: 16;
  --numberOfWords: 6;

  --fontSize: 60px;
  /* boxSize = fontSize + 30 
    moveDown = (100+30)*6 + topOffset*/
  --boxSize: 90px;
  /* change topOffset as to aling THE FIRST WORD */
  --topOffset: -40px;

  /* sinkDown: (neg)(boxSize+boxMarginTop)*6 + topOffset */
  --sinkDown: -760px;

  /* change marginBtween as wanted */
  --marginBetween: 20px;
  --fontWeight: 400;

  /* typing animation speed  */
  --typingSpeed: 2.5s;
  /* slideSpeed = typingSpeed * numberOfWords */
  --slideSpeed: 15s;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--background);
  text-transform: capitalize;
  /* background: transparent; */
}
.typing {
  display: inline-flex;
}

.typing .static-text {
  font-size: var(--fontSize);
  color: var(--foreground);
  font-weight: var(--fontWeight);
}

.typing .dynamic-text {
  margin-left: var(--marginBetween);
  height: var(--boxSize);
  line-height: var(--boxSize);
  /* background: red; */
  overflow: hidden;
}

.dynamic-text li {
  list-style: none;
  margin-top: var(--boxMarginTop);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  color: var(--Green);
  position: relative;
  top: var(--topOffset);
  overflow: hidden;
  /* stops screen from moving */
  animation: slide var(--slideSpeed) steps(var(--numberOfWords)) infinite;
}
@keyframes slide {
  100% {
    top: var(--sinkDown);
  }
}

.dynamic-text li span {
  position: relative;
  /* fix border size */
}
.dynamic-text li span::after {
  content: "";
  position: absolute;
  padding: 50px 0;
  left: 0;
  /* border starts at left */
  height: 100%;
  width: 100%;
  border-left: 2px solid var(--Green);
  /* steps largest word lenght */
  background: var(--background);
  animation: typing var(--typingSpeed) steps(var(--maxlenght)) infinite;
  /* mandar a border left parar quando chegar na border right 
  algo com fit content*/
}
@keyframes typing {
  0%,
  10%,
  100% {
    left: 0%;
  }
  60%,
  95% {
    left: 100%;
  }
}
